header{
    text-align: center;
    background-color: black;
    color: azure;
    padding: 7%;
    
}

.parallax {
    /* The image used */
    background-image: url("Scroll\ background.jpg");
  
    /* Set a specific height */
    min-height:450px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 .parallax2{
    /* The image used */
    background-image: url("maskFear.png");
  
    /* Set a specific height */
    min-height:450px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: justify;
}

  .flexText{
    margin:auto;
    width: 40%;
    margin-top: 0%;
  }

  .flexImgs{
    margin:auto;
    width:33%
  }

  .subHeader{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #description{
    text-align: center;
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
#colorBg{
  background:repeating-linear-gradient(white, purple, red)
}

footer{
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:aliceblue;
  padding:1%
}

#nyt{
   max-width: 50%;
   max-height: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


h4{
  text-align: center;
}

a {
  color: white;
  text-decoration: none;

}
body{
  margin:0;
}